.border_bottom td{
    border-bottom: 1pt solid #444444;
}

.border_top td{
    border-top: 1pt solid #444444;
}

td {
    padding-right: 5px;
}
.MMM-TeslaLogger .battery-critical { color: red !important; }
.MMM-TeslaLogger .battery-low { color: orange !important; }
.MMM-TeslaLogger .battery-medium { color: yellowgreen !important; }
.MMM-TeslaLogger .battery-high { color: limegreen !important; }


.MMM-TeslaLogger .temp-cold { color: lightblue !important; }
.MMM-TeslaLogger .temp-normal { color: white !important; } 
.MMM-TeslaLogger .temp-hot { color: tomato !important; }
